
@using Inventory_v1.Models         @*Importing the namespace for the BaseEquipment model, Path ta dekhiye deowa hoyese*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #tblEquipment {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        #tblEquipment td, #tblEquipment th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #tblEquipment tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #tblEquipment tr:hover {
            background-color: #ddd;
        }

        #tblEquipment th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
</style>
<script>
     //Legacy Part
    //function ShowModal() {
    //    // Legacy Modal
    //     document.getElementById("dvOverlay").style.display = "";
    //     document.getElementById("dvModal").style.display = "";
    //}

    //function HideModal() {
    //    // Legacy Modal
    //    document.getElementById("dvOverlay").style.display = "none";
    //    document.getElementById("dvModal").style.display = "none";
    //}


    // Dynamic Part
    function ShowModal() {
        $('#dvModal').dialog({
            title: 'Equipment Entry',
            height: 600,
            width: 500,
            modal: true //,
            //buttons: {
            //    Cancel: function () {
            //        dialog.dialog("close");
            //    },
            //    ok: function () {
            //        dialog.dialog("close");
            //    }
            //}
        });
    }

    function HideModal() {
        
    }


</script>


<div class="row">
    <div class="col col-sm-6">
        <div style="width:100%">
            <div style="height: 30px; background: cornsilk; width: 100%; text-align:center; padding:5px; border-radius:5px;">
                Equipment List
                <input type="button" value="new" style="float:right" onclick="ShowModal()" />

            </div>
            <div style="max-height: 400px;  width:100%; overflow:auto">

                @{
                    List<BaseEquipment> lstEquipment = (List<BaseEquipment>)ViewBag.lstEquipment;
                }

                <table id="tblEquipment" style="width:100%">
                    <tr>
                        <th>Update</th>
                        <th>Delete</th>
                        <th>EquipmentName</th>
                        <th>Quantity</th>
                        <th>Stock</th>
                        <th>EntryDate</th>
                        <th>ReceiveDate</th>
                    </tr>
                    @{
                        foreach (BaseEquipment obj in lstEquipment)
                        {
                            <tr>
                                <td><input type="button" value="Update" onclick="UpdateItem(@obj.EquipmentID)" /></td>
                                <td><input type="button" value="Delete" onclick="DeleteItem(@obj.EquipmentID)" /></td>
                                <td>@obj.EquipmentName</td>
                                <td>@obj.Quantity</td>
                                <td>@obj.Stock</td>
                                <td>@obj.EntryDate</td>
                                <td>@obj.ReceiveDate</td>
                            </tr>
                        }
                    }



                </table>

            </div>
        </div>
    </div>
    <div class="col col-sm-6">
        <div style="width:100%">
            <div style="height: 30px; background: cornsilk; width: 100%; text-align: center; padding: 5px; border-radius: 5px; ">
                Caption 2
            </div>
            <div style="max-height: 400px;  width:100%; overflow:auto">
                List 2
            </div>
        </div>
    </div>

</div>


@*// Partial page ta main Index er sathe connect korte hobe, jate page ta load holei partial page ta load hoye jabe.*@

@Html.Partial("_PartialEquipmentEntry");


